<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="scwTest" class="com.hhm.scw.domain.ScwTest"></bean>

	<!-- spring整合hibernate -->
	<!-- 配置c3p0数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/shangcaiwang?useUnicode=true&amp;characterEncoding=utf8">
			</property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="user" value="root"></property>
		<property name="password" value="3113007968"></property>
		
		<property name="initialPoolSize" value="5"></property>
		<property name="maxPoolSize" value="30"></property>
		<property name="minPoolSize" value="3"></property>
	</bean>
	
	<!-- 配置spring的SessionFactory，是spring专门用来整合hibernate的类 ，而不是hibernate的SessionFactory-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:/hibernate.cfg.xml"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置hibernate的事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--配置声明式事务管理 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 需要管理的方法 -->
		<tx:attributes>
			<tx:method name="add*" read-only="false" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="insert*" read-only="false" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="update*" read-only="false" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="delete*" read-only="false" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="change*" read-only="false" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 配置切入点 -->
	<aop:config>
		<!-- 需要管理的层 -->
		<aop:pointcut expression="execution(* com.hhm.scw.service.*.*(..))" id="transationPointCut"/>
		<!-- 与管理事务进行关联 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transationPointCut"/>
	</aop:config>
	
	<!-- 配置hibernateTemplate模板 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<import resource="config/beans-dao.xml"/>
	<import resource="config/beans-service.xml"/>
	<import resource="config/beans-action.xml"/>
</beans>